@font-face {
    font-family: 'Protest Guerrilla';
    src: url(./ProtestGuerrilla-Regular.ttf);
}

body{
    padding: 0;
    margin: 0;
    background-color: black;
}

#image-sidebar {
    background-image: url(./imgs/photo-1592288801240-7b18bb06e94f.avif);
    background-repeat: no-repeat;
    background-size: cover;
    width: 35vw;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#image-sidebar > p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(0.6rem + 0.15vw);
    margin: 0 0 0.3rem 0;
    padding: 0.15rem;
    background-color: rgba(62, 62, 62, 0.5);
    color: white;
    border-radius: 0.6rem;
}

#image-sidebar > p > span{
    text-decoration: underline;
}

#image-sidebar > h1{
    margin-top: 4rem;
    font-size: calc(1.2rem + 2.5vw);
    letter-spacing: calc(0.4rem + 0.2vw);
    position: absolute;
    top: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: 'Protest Guerrilla', Arial, Helvetica, sans-serif;
    color: white;
    width: 35vw;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
}