@font-face {
    font-family: 'Protest Guerrilla';
    src: url(./ProtestGuerrilla-Regular.ttf);
}

body{
    padding: 0;
    margin: 0;
    background-color: black;
}

#image-sidebar {
    background-image: url(./imgs/photo-1592288801240-7b18bb06e94f.avif);
    background-repeat: no-repeat;
    background-size: cover;
    width: 35vw;
    min-width: 440px;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#image-sidebar > p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(0.6rem + 0.15vw);
    margin: 0 0 0.3rem 0;
    padding: 0.15rem;
    background-color: rgba(62, 62, 62, 0.5);
    color: white;
    border-radius: 0.6rem;
}

#image-sidebar > p > span{
    text-decoration: underline;
}

#logo-div > h1{
    margin-top: 4.3rem;
    font-size: 3rem;
    letter-spacing: 0.5rem;
    position: absolute;
    top: 2.5px;
    left: 6.5rem;
    z-index: 1;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: 'Protest Guerrilla', Arial, Helvetica, sans-serif;
    color: white;
    width: 300px;
}

#svg-div{
    position: absolute;
    top: 4.1rem;
    left: 2rem;
    z-index: 2;
}

#circleBrown{
    position: absolute;
    top: 3.7rem;
    left: 2rem;
    z-index: 1;
    background-color: #80461b;
    width: 105px;
    height: 105px;
    border-radius: 50%;
    border: 4px solid #2b1700;
}

#circleBlack{
    width: 140px;
    height: 140px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 45px;
    left: 1.15rem;
}

#backgroundLogo{
    width: 295px;
    height: 100px;
    background-color: black;
    position: absolute;
    top: 63px;
    left: 8rem;
    border-radius: 0 8rem 8rem 0;
}

#svg{
    width: 100px;
    height: 100px;
}